body {
    margin:0 auto;
    text-align: center;
    min-width: 1024px;
    min-height: 768px;
}

#header {
    text-align: center;
}

#body {
    width: auto;
    text-align: center;
    height: 500px;
}

#footer {
    text-align: center;
}

#left {
    float: left;
    width: 20%;
    min-width: 180px;
    background-color: burlywood;
}

#middle {
    float: left;
    position: relative;
    left: 10px;
    top: -10px;
    height: 500px;
    text-align: center;
}

hr#vertical {
    width: 1px;
    height: 100%;;
}

#right {
    float: left;
    position: relative;
    left: 20px;
    width: 76%;
    min-width: 780px;
    background-color: darkgray;
}

#nav {
    padding-left: 20px;
    text-align: left;
}

#content {
    text-align: center;
    width: 100%;
    height: 500px;
}

#content video {
    text-align: center;
    height: 100%;
}