doctype html
html
    head
        title Game
        script(type="text/javascript", src="common/jquery-3.2.1.js")
        script(type="text/javascript", src="common/string.js")
        script(type="text/javascript", src="public/client/scheduler.js")
        script(type="text/javascript", src="public/client/dateTime.js")
        script(type="text/javascript", src="public/js/game.js")
        link(type="text/css", rel="stylesheet", href="public/css/game.css")
    body
        div#header
        div#body
            div#shop
            div#user
                div#info
                div#bag
                    a adfjasdflkjsdf
        div#footer