script(type="text/javascript", src="common/base64.js")
script(type="text/javascript", src="common/jquery-3.2.1.js")
script(type="text/javascript", src="common/json3.js")
script(type="text/javascript", src="common/packet.js")
script(type="text/javascript", src="common/tool.js")
script(type="text/javascript", src="common/set.js")
script(type="text/javascript", src="public/common/js/dateTime.js")
script(type="text/javascript", src="public/common/js/http.js")
script(type="text/javascript", src="public/common/js/layout.js")
script(type="text/javascript", src="public/common/js/ui.js")
script(type="text/javascript", src="public/common/js/scheduler.js")
script(type="text/javascript", src="public/common/js/userData.js")