form
    table
        tr
            td username
            td
                input(type="text" id="useId")
        tr
            td password
            td
                input(type="password" id="usePwd")
        tr
            td
            td
                input(type="submit" value="submit")