doctype html
html
    head
        title welcome
        include libclient
    body
        a sample
        ol
            li
                a(href="sample/sign_up") sign up
            li
                a(href="sample/sign_in") sign in
            li
                a(href="sample/game") game
            li
                a(href="sample/music") music