doctype html
html
    head
        title welcome
        script(type="text/javascript", src="common/jquery-3.2.1.js")
    body
        ol
            li
                a(href="views/client/login") login
            li
                a(href="views/client/game") game
            li
                a(href="views/client/music") music