doctype html
html
    head
        title Game
        include libclient
        script(type="text/javascript", src="public/client/game.js")
        link(type="text/css", rel="stylesheet", href="public/css/game.css")
    body
        div#header
        div#body
            div#shop

            div#user
                div#info
                div#bag
                    a adfjasdflkjsdf
        div#footer