script(type="text/javascript", src="common/jquery-3.2.1.js")
script(type="text/javascript", src="common/base64.js")
script(type="text/javascript", src="common/json3.js")
script(type="text/javascript", src="common/packet.js")
script(type="text/javascript", src="common/string.js")
script(type="text/javascript", src="common/set.js")
script(type="text/javascript", src="public/common/dateTime.js")
script(type="text/javascript", src="public/common/http.js")
script(type="text/javascript", src="public/common/layout.js")
script(type="text/javascript", src="public/common/ui.js")
script(type="text/javascript", src="public/common/scheduler.js")
script(type="text/javascript", src="public/common/userData.js")