doctype html
html
    head
        title Login
        include libclient
        script(type="text/javascript", src="public/client/login.js")
    body
        div#left
        div#center
            include login_form
        div#right


