form#login_form
    table
        tr
            td username
            td
                input#login_username(type="text")
        tr
            td password
            td
                input#login_password(type="password")
        tr
            td
            td
                input(type="submit" value="submit")