doctype html
html
    head
        title login
        script(type="text/javascript", src="common/jquery-3.2.1.js")
        script(type="text/javascript", src="common/base64.js")
        script(type="text/javascript", src="common/string.js")
        script(type="text/javascript", src="common/packet.js")
        script(type="text/javascript", src="public/common/layout.js")
        script(type="text/javascript", src="public/common/http.js")
        script(type="text/javascript", src="public/client/user.js")
        script(type="text/javascript", src="public/client/login.js")
    body
        div#left
        div#center
            include login_form
        div#right


