doctype html
html
    head
        title Music
        include libclient
        script(type="text/javascript", src="public/client/music.js")
        link(type="text/css", rel="stylesheet", href="public/css/music.css")
    body
        div#header
            h1 Music Play
            hr
        div#body
            div#left
                video#media(src="files/audio/Delacey - Dream It Possible.mp3", controls="controls" autoplay="autoplay")
            div#right
                div#action
                    input#pre(type="button" value="pre")
                    a#pageNum 0/0
                    input#next(type="button" value="next")
                div#nav
        div#footer
            hr


