doctype html
html
    head
        title Home Page
        script(type="text/javascript", src="common/jquery-3.2.1.js")
        script(type="text/javascript", src="js/layout.js")
        script(type="text/javascript", src="js/index.js")
        link(type="text/css", rel="stylesheet", href="css/index.css")
    body
        div#header
            h1 Home Page
            hr
        div#body
            div#left
                div#nav
                    if params.nav
                        ol
                            each val,key in params.nav
                                li
                                    a(src=val) #{key}
            div#right
                div#content
                    video#media(src="", controls="controls" autoplay="autoplay")
        div#footer
            hr
            p Copyright(C)2010-2017


