* {
    padding: 0;
    margin: 0;
}
body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table {
    width: 100%;
}

#body {
    text-align: center;
    height: 500px;
    background-color: #4dc71f;
}

#header {
    height: 100px;
    width: 100%;
    background-color: silver;
}

#info {
    float: left;
    height: 50px;
}

#time {
    float: right;
    height: 50px;
}

#hot_item {
    float: left;
    width: 210px;
    height: 100%;
    background-color: #a7dbd8;
}

#new_item {
    float: right;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 200px;
    background-color: #a7dbd8;
}

#new_item td {
    height: 180px;
}

#new_item .new_item_img {
    float: left;
}

#new_item .new_item_info {
    float: left;
    position: relative;
}

#new_item .new_item_name .new_item_price {
    width: 100%;
    text-align: left;
}

#new_item .new_item_name a{
    float: left;
    text-align: left;
}

#new_item .new_item_price a{
    float: left;
    text-align: left;
}

#footer {
    float: left;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: brown;
}