doctype html
html
    head
        title Game
        include ../libclient
        script(type="text/javascript", src="sample/js/game.js")
        link(type="text/css", rel="stylesheet", href="sample/css/game.css")
    body
        div#header
        div#body
            div#shop
                a#time
                div#shop_item
            div#user
                div#info
                div#bag
                    a adfjasdflkjsdf
        div#footer