doctype html
html
    head
        title Game
        include ../libclient
        script(type="text/javascript", src="sample/js/game.js")
        link(type="text/css", rel="stylesheet", href="sample/css/game.css")
    body
        div#header
            div#info
            a#time
        div#body
            div#hot_item
            div#new_item

        div#footer