doctype html
html
    head
        title Login
        include ../libclient
        script(type="text/javascript", src="sample/js/login.js")
    body
        div#left
        div#center
            include login_form
        div#right


