body {
    margin:0 auto;
    text-align: center;
    min-width: 1024px;
    min-height: 768px;
}

#header {
    text-align: center;
}

#body {
    width: auto;
    text-align: center;
    /*min-height: 500px;*/
}

#footer {
    text-align: center;
}

#left {
    float: left;
    width: 20%;
    min-width: 180px;
    border-color: silver;
    border-style:solid;
    border-width: 0 1px 0 0;
    background-color: white;
}

#right {
    float: left;
    position: relative;
    left: 20px;
    width: 76%;
    min-width: 780px;
    background-color: darkgray;
}

#nav {
    padding-left: 20px;
    text-align: left;
}

#nav ol li:hover{
    background-color: darkkhaki;
    text-decoration:underline;
}

#content {
    text-align: center;
    width: 100%;
    height: 500px;
}

#content video {
    text-align: center;
    height: 100%;
}